<div class="card mb-5">
    <div class="card-body">
        <form [formGroup]="productoForm" (ngSubmit)="addQuote()">
             <div class="input-group mb-3">
            <input formControlName="person" type="text" class="form-control" placeholder="Person name" aria-label="Person name" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Said</span>
          </div>
        <div class="input-group mb-3">
            <input formControlName="quote"  type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Quote...">
        </div>
        <button [disabled]="productoForm.invalid || loading" type="button" class="btn btn-primary" type="submit">
            <i class="bi bi-plus-lg"></i> Add
            <span [hidden]="!loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span [hidden]="!loading" class="visually-hidden" role="status">Loading...</span>
        </button>
        
        </form>
    </div>
</div>