<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FavQuotes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                @if(user!=null){
                <li class="nav-item">
                    <a class="nav-link" href="/Favorites/quotes">My Favs</a>
                </li>
                <li class="nav-item me-2">
                    <button name="" id="" class="btn btn-primary" (click)="logout()" role="button">Logout</button>
                </li>
                }
                @else{
                    <li class="nav-item me-2">
                        <a name="" id="" class="btn btn-primary" role="button" href="/login">Login</a>
                    </li>
                }
        
            </ul>
        </div>
    </div>
</nav>