<app-navbar [user]="user"></app-navbar>
<div class="container-fluid">
    <img src="{{group.photo}}" alt="Group photo" class="img-banner rounded w-100 vh-25">
    <h1 class="mb-3">{{groupName}} Quotes</h1>
    @if(user!=null && groupName!="Favorites"){
    <app-create-quote [idGroup] = "group._id" [idUser]="user"></app-create-quote>
    }

    <div class="row row-gap-3 row-cols-2">
        @for(quote of group.quotes;track quote){
        <app-quote [quote]="quote" [idUser]="user"></app-quote>
        }

    </div>
</div>